@import "common";

.page_main{
  .carousel_space{
    position:relative;
    width: 950px;
    height: 243px;
    margin:0 auto;
    background-color: #fff;
    overflow: hidden;
    .left_bar,.right_bar{
      position: absolute;
      top:80px;
      width: 52px;
      height: 78px;
      z-index: 2;
      cursor: pointer;
    }
    .main_space{
      width: 100%;
      height: 100%;
    }
    .left_bar{
      left: 200px;
    }
    .right_bar{
      right: 200px;
    }
    .aPiece{
      position: absolute;
      display: none;
      top:0;
      width: 350px;
      height: 243px;
      -webkit-transition: left 0.4s ease-in-out;
      transition: left 0.4s ease-in-out;
      @extend .test_color;
    }
    .active{
      display:block;
      left: 300px;
    }
    .next{
      display:block;
      left: 700px;
    }
    .next_next{
      display:block;
      left: 1100px;
    }
    .before{
      display:block;
      left: -100px;
    }
    .before_before{
      display:block;
      left: -500px;
    }
  }
  .carousel_describe{
    margin:16px 0;
    text-align: center;
    color: #fff;
    font: 20px 'Microsoft Yahei';
  }
  .detail_space{
    width: 100%;
    height: 320px;
    margin: 0;

    .tab_space{
      width:100%;
      height: 26px;

      >div{
        position: relative;
        width: 150px;
        height: 26px;
        font-family: 'Microsoft Yahei';
        background-color: #5d5c5c;
        line-height: 26px;
        text-align: center;
        cursor: pointer;
        transition: background-color 0.2s ease-in-out;
        &:not([class~='active']):hover{
          background-color: #c3c2c2;
        }
      }
      .left_tab{
        float: left;
        &:after{
          content: '\00a0';
          display: block;
          position: absolute;
          top: 0;
          right: 0;
          width: 0;
          height: 0;
          border-width:13px 7px;
          border-style: solid;
          border-color: #2f2f2f #2f2f2f transparent transparent;
        }
      }
      .right_tab{
        float: right;
        &:after{
          content: '\00a0';
          display: block;
          position: absolute;
          top: 0;
          left: 0;
          width: 0;
          height: 0;
          border-width:13px 7px;
          border-style: solid;
          border-color: #2f2f2f transparent transparent #2f2f2f ;
        }
      }
      .active{
        background-color: #E5E4E4;
      }
    }

    .text{
      width: 100%;
      height: 300px;

      >div{
        width: 100%;
        height: 280px;
        padding: 10px 0;
        background-color: #e5e4e4;
      }
    }
  }
}
