.page_main{


  .logo{
    width: 220px;
    height: 50px;
    margin-bottom: 60px;
    background-color: #fff;
  }

  .img_ad{
    width: 1150px;
    height: auto;
    margin-bottom: 110px;
    overflow: hidden;

    .img_left{
      float: left;
      width: 50%;
      height: 350px;
      background-color: #e5e4e4;
    }
    .img_right{
      float: right;
      width: 48%;
      height: auto;

      >div{
        width: 100%;
        height: 230px;
        margin-bottom: 8px;
        background-color: #e5e4e4;
      }
    }
  }

}