<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>app</title>
    <link rel="stylesheet" href="../styles/css/app.css"/>
    <link rel="stylesheet" href="../components/bootstrap-3.3.2-dist/css/bootstrap.min.css"/>
    <script src="../components/jquery-1.11.1.min.js"></script>
</head>
<body>
<section id="myCarousel" class="carousel slide">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div class="item active">1111</div>
        <div class="item">222</div>
        <div class="item">333</div>
    </div>
</section>
<section class="area_1">
    <div class="title_bar"></div>
    <div class="pic_area">
        <div class="left"></div>
        <div class="right_top"></div>
        <div class="right_bottom"></div>
    </div>
</section>
<section class="area_2">
    <div class="title_bar"></div>
    <div class="pic_area">
        <div class="left"></div>
        <div class="middle"></div>
        <div class="right"></div>
    </div>
</section>

<script src="../components/bootstrap-3.3.2-dist/js/bootstrap.min.js"></script>
<script src="../scripts/main.js"></script>
</body>
</html>