<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>后台管理</title>
</head>
<link rel="stylesheet" href="../styles/css/common_style.css"/>
<link rel="stylesheet" href="../styles/css/backend_manage.css"/>
<body>

<section class="back-end">
    <ul class="back-end-tab">
        <li class="active" data-area="basic_set">网站基本设置</li>
        <li data-area='index_set'>首页设置</li>
        <li data-area='product_manage'>商品管理</li>
        <li data-area='user_manage'>用户管理</li>
        <li data-area='order_manage'>订单管理</li>
        <li data-area='article_manage'>文章管理</li>
        <li data-area='worker_manage'>员工管理</li>
        <li data-area='img_manage'>图片管理</li>
        <li data-area='data_manage'>数据库管理</li>
        <li data-area='pay_method'>支付方式管理</li>
        <li data-area='point'>记分管理</li>
    </ul>
    <div class="tab-body">

    </div>
</section>


<script src="../components/jquery-1.11.1.min.js"></script>
<script src="../scripts/back_end.js"></script>
</body>
</html>