<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>商城</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="../styles/css/common_style.css"/>
    <link rel="stylesheet" href="../styles/css/detail.css"/>
    <script src="../components/jquery-1.11.1.min.js"></script>
</head>
<body>
<section class="page_main">
    <section class="carousel_space">
        <div class="left_bar"><img src="../images/left.png"/></div>
        <div class="right_bar"><img src="../images/right.png"/></div>
        <section class="main_space">
            <div class="aPiece active"><img src=""/> </div>
            <div class="aPiece next"><img src=""/> </div>
            <div class="aPiece next_next"><img src=""/> </div>
            <div class="aPiece"><img src=""/> </div>
            <div class="aPiece before_before"><img src=""/> </div>
            <div class="aPiece before"><img src=""/> </div>
        </section>

    </section>
    <div class="carousel_describe">13213213213123</div>
    <article class="detail_space">
        <div class="tab_space">
            <div class="left_tab active">基本信息</div>
            <div class="right_tab">评测</div>
        </div>
        <article class="text">
            <div class="base_info">基本信息在这里</div>
            <div class="evaluation hide">评测结果在这里lalalalal</div>
        </article>
    </article>

</section>

<script src="../scripts/main.js"></script>
<script src="../scripts/carousel.js"></script>
</body>
</html>
