<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
    <title>资讯页</title>
    <link rel="stylesheet" href="../styles/css/infoM.css"/>
    <script src="../components/zepto/zepto.js"></script>
    <script src="../components/zepto/touch.js"></script>
    <script src="../components/zepto/fx.js"></script>
    <script src="../components/zepto/fx_methods.js"></script>
</head>
<body>
<ul class="cart_list">
    <li>
        <input type="checkbox" class="check_input" id="check1"/>
        <label for="check1"  class="check"></label>
        <div class="img"></div>
        <div class="right">
            <div class="detail">
                <div class="goods_name">撒旦阿斯顿阿三大神阿斯顿阿斯顿阿德阿三但</div>
                <div class="price">￥2668.00</div>
                <div class="num">x1</div>
            </div>
        </div>
        <div class="delete_bottom">
            <img src="../images/delete_icon.jpg"/>
        </div>
    </li>
    <li>
        <input type="checkbox" class="check_input" id="check2"/>
        <label for="check2"  class="check"></label>
        <div class="img"></div>
        <div class="right">
            <div class="detail">
                <div class="goods_name">撒旦阿斯顿阿三大神阿斯顿阿斯顿阿德阿三但</div>
                <div class="price">￥2668.00</div>
                <div class="num">x1</div>
            </div>
        </div>
        <div class="delete_bottom">
            <img src="../images/delete_icon.jpg"/>
        </div>
    </li>
</ul>

<script src="../scripts/infoM.js"></script>
</body>
</html>