<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>详情页</title>
    <link rel="stylesheet" href="../application/styles/css/common_style.css"/>
    <link rel="stylesheet" href="../application/styles/css/mall.css"/>
    <script src="../application/components/jquery-1.11.1.min.js"></script>
</head>
<body>
<section class="page_main">
    <header class="title_bar"></header>
    <section class="list">
        <div class="aList">
            <div class="img"></div>
            <div class="describe">在在在在在DSAJKLFGSAHJK克haskell回答说大陆上空的哈桑的沙克多喝水啊的哈桑</div>
        </div>
        <div class="aList">
            <div class="img"></div>
            <div class="describe">撒大大阿三的哈桑的哈萨克haskell回答说大陆上空的哈桑的沙克多喝水啊的哈桑</div>
        </div>
        <div class="aList">
            <div class="img"></div>
            <div class="describe">撒大大阿三的哈桑的哈萨克haskell回答说大陆上空的哈桑的沙克多喝水啊的哈桑</div>
        </div>
        <div class="aList">
            <div class="img"></div>
            <div class="describe">撒大大阿三的哈桑的哈萨克haskell回答说大陆上空的哈桑的沙克多喝水啊的哈桑</div>
        </div>
        <div class="aList">
            <div class="img"></div>
            <div class="describe">撒大大阿三的哈桑的哈萨克haskell回答说大陆上空的哈桑的沙克多喝水啊的哈桑</div>
        </div>
        <div class="aList">
            <div class="img"></div>
            <div class="describe">撒大大阿三的哈桑的哈萨克haskell回答说大陆上空的哈桑的沙克多喝水啊的哈桑</div>
        </div>
    </section>
</section>

<nav class="mall_nav">
    <ul class="nav_list">
        <li>
            <a href="###"><span>分类</span><div><img src="../application/images/mall_tri.png"/></div></a>
            <ul class="tab-list hide">
                <!--此处为数据迭代处，下同-->
                <li><a href="###">asdasdsad</a> </li>
                <li><a href="###">asdasdsad</a> </li>
                <li><a href="###">asdasdsad</a> </li><li><a href="###">asdasdsad</a> </li>
                <li><a href="###">asdasdsad</a> </li>

            </ul>
        </li>
        <li>
            <a href="###"><span>品牌</span><div><img src="../application/images/mall_tri.png"/></div></a>
            <ul class="tab-list hide">
                <li><a href="###">asdasdsad</a> </li>
            </ul>
        </li>
        <li>
            <a href="###"><span>价格</span><div><img src="../application/images/mall_tri.png"/></div></a>
            <ul class="tab-list hide">
                <li><a href="###">asdasdsad</a> </li>
            </ul>
        </li>
        <li>
            <a href="###"><span>销量</span><div><img src="../application/images/mall_tri.png"/></div></a>
            <ul class="tab-list hide">
                <li><a href="###">asdasdsad</a> </li>
            </ul>
        </li>
    </ul>
    <div class="search_box">
        <input type="search" placeholder="搜索"/>
    </div>
</nav>


<script src="../application/scripts/mall.js"></script>
</body>
</html>