<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>个人中心</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="../../../../application/styles/css/user_center.css"/>
    <link rel="stylesheet" href="../../../../application/styles/css/common_style.css"/>
    <script src="../../../../application/components/jquery-1.11.1.min.js"></script>
</head>
<body>
<section class="page_main">
    <div class="user_head">
        <h1>个人中心</h1>
        <div class="user_info">
            <div class="user_avatar"></div>
            <span>用户昵称</span>
            <div class="user_banner"><a style="color:#000" href="../../../../index.php/ucenter/logout">点此退出</a></div>
        </div>
    </div>
    <ul class="user_tab">
        <li><a href="###">个人资料</a></li>
        <li><a href="###">文章收藏</a></li>
        <li><a href="###">我的帖子</a></li>
        <li><a href="###">商品收藏</a></li>
        <li><a href="###">我的账户</a></li>
        <li><a href="###">订单管理</a></li>
    </ul>
    <div class="tab_content">
        <ul>
            <li>
                <table>
                    <colgroup class="row1" style="color:white"></colgroup>
                    <colgroup class="row2"></colgroup>
                    <tr>
                        <th>我的音特币：</th>
                        <td>0</td>
                    </tr>
                    <tr>
                        <th>我的订单：</th>
                        <td>单号123213123123（上架销售中）</td>
                    </tr>
                    <tr>
                        <th>商品收藏：</th>
                        <td>
                            盛大的撒大苏打asda是撒旦<br/>飒飒大苏打撒萨达<br/>
                            阿斯顿撒大苏打似的阿斯顿撒大阿三<br/>
                        </td>
                    </tr>
                </table>
            </li>
            <li>内容2asdsadasdasdasdas</li>
            <li>内容312321312321wqeqweqweqw</li>
            <li>内容4sadasdasdasdasd</li>
            <li>内容5wqewqeqweqwe</li>
            <li>内容6qweqweqweqweqwe</li>
        </ul>
    </div>
</section>

<script src="../../../../application/scripts/user_center.js"></script>
</body>
</html>