<form class="img-manage">
    <ul class="img-list">
        <li>
            <div class="img-here"></div>
            <input type="checkbox" class="img-choice" name="img-choice"/>
        </li>
        <li>
            <div class="img-here"></div>
            <input type="checkbox" class="img-choice" name="img-choice"/>
        </li>
        <li>
            <div class="img-here"></div>
            <input type="checkbox" class="img-choice" name="img-choice"/>
        </li>
        <li>
            <div class="img-here"></div>
            <input type="checkbox" class="img-choice" name="img-choice"/>
        </li>
        <li>
            <div class="img-here"></div>
            <input type="checkbox" class="img-choice" name="img-choice"/>
        </li>
        <li>
            <div class="img-here"></div>
            <input type="checkbox" class="img-choice" name="img-choice"/>
        </li>
    </ul>
    <button class="delete">删除</button>
</form>