<form class="order-manage">
    <table>
        <colgroup class="col-1"></colgroup>
        <colgroup class="col-2"></colgroup>
        <colgroup class="col-3"></colgroup>
        <colgroup class="col-4"></colgroup>
        <colgroup class="col-5"></colgroup>
        <tr>
            <th>订单编号编号</th>
            <th>商品名</th>
            <th>卖家账号</th>
            <th>订单状态</th>
            <th>创建时间</th>

        </tr>
        <tr class="table-title">
            <td>
                <input type="checkbox" name="order-manage"/>
                <span class="product-code">123123123123</span>
            </td>
            <td>请问请问请问请问额外企鹅请问请问恶气额</td>
            <td>
                啊实打实的
            </td>
            <td>
                交易中
            </td>
            <td>
                2015.6.4 20.56
            </td>
        </tr>
    </table>
    <div class="data-solve">
        <div class="delete-select">
            <input type="checkbox" name="select-all"/>
            <span>全部选择</span>
            <button class="delete">删除</button>
        </div>
        <div class="search">
            <input class="search-input" type="text"/>
            <button class="search-button">搜索</button>
        </div>

    </div>
</form>