<form class="user-manage">
    <label>
        用户名查找
        <button type="button" class="user-search">搜索</button>&emsp;
        <input type="text"/>

    </label>

    <table>
        <colgroup class="col-1"></colgroup>
        <colgroup class="col-2"></colgroup>
        <colgroup class="col-3"></colgroup>
        <tr>
            <th>uid</th>
            <th>用户名</th>
            <th>注册时间</th>

        </tr>
        <tr class="table-title">
            <td>
                <input type="checkbox" name="user-manage"/>
                <span class="product-code">uid</span>
            </td>
            <td>用户名</td>
            <td>
                2015.6.4 20.56
            </td>
        </tr>
    </table>
    <div class="data-solve">
        <div class="delete-select">
            <input type="checkbox" name="select-all"/>
            <span>全部选择</span>
            <button class="delete">删除</button>
        </div>
        <div class="search">
            <input class="search-input" type="text"/>
            <button class="search-button">搜索</button>
        </div>

    </div>
</form>