ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none; }

.test_color {
  background-color: #e5e4e4; }

body {
  margin: 0;
  background-color: #921e1e;
  font-family: 'microsoft yahei';
}

.page_main {
  width: 1150px;
  height: auto;
  margin: 0 auto;
  padding: 40px;
  overflow: hidden;
  background-color: #2f2f2f; }

footer {
  position: fixed;
  bottom: 20px;
  left: 0;
  right: 0;
  width: 1230px;
  height: 40px;
  margin: 0 auto;
  background-color: #6c1717; }
  footer ul {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font: 24px 'microsoft yahei';
    color: #ffffff; }
    footer ul li {
      float: left;
      width: 16.66%;
      height: 100%; }
      footer ul li a {
        display: block;
        width: 100%;
        height: 100%;
        text-align: center;
        line-height: 40px;
        color: #fff; }

.hide {
  display: none; }
