<div class="sign_up hide">
    <h1>注册用户登录</h1>
    <label class="user_name">
        <span>用户名</span>
        <input type="text" class="user_input" name="user_name"/>
    </label>
    <label class="user_psw">
        <span>密&emsp;码</span>
        <input type="password" class="user_psw" name="user_psw"/>
    </label>
    <div class="about_psw">
        <a href="###" class="forget_psw">忘记密码</a>
        <a href="###" class="join_us">加入我们</a>
    </div>
    <button type="button" class="sign_up_button">
        登&nbsp;录
    </button>
</div>


<div class="log_in hide">
    <h1>新用户注册</h1>
    <label class="user_name">
        <span>用户名</span>
        <input type="text" class="user_input" required="required" name="user_name"/>
    </label>
    <label class="user_psw">
        <span>密&emsp;码</span>
        <input type="password" class="user_psw_input" required="required" name="user_psw"/>
    </label>
    <label class="repeat_psw">
        <span>重复密码</span>
        <input type="password" class="repeat_psw_input" required="required" name="user_psw"/>
    </label>
    <label class="user_mail">
        <span>援助邮箱</span>
        <input type="email" class="user_mail" required="required" name="user_mail"/>
    </label>
    <div class="agreement">
        <h1>网站协议</h1>
        <p>一、本协议的文本<br/>
            1.1 本协议的内容包括以下全部条款以及本网站已经发布的
            及将来可能发布的与出借人用户有关的各项规则，该等
            规则均为本协议不可分割的一部分，与本协议具有同等
            法律效力。<br/>
            1.2 本网站有权根据需要修改本协议的内容。如以下条款或
            本网站各项规则有任何变更，本网站将在网站上刊载公
            告。经修订的相关条款和规则一经公告，即于公告规定
            的特定生效日期自动生效。请您适时关注本网站关于相

        </p>
    </div>
    <button type="button" class="log_in_button">
        注&nbsp;册
    </button>
</div>